<div class="container">
 <div class="row">
  <%= render 'games/error', model: @game %>
 <div class="col-md-3">
  <%= render 'users/users', user: @user %>
  <h2>New game</h2>
   <%= render 'games/games', game: @game %>
    </div>

 <div class="col-md-8 offset-md-1">
 <table class="table game-index">
  <h2>Gamers</h2>

  <thead>
    <tr>
      <th></th>
      <th>ゲームタイトル</th>
      <th>感想</th>
      <th>ユーザーネーム</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @games.each do |game| %>
    <tr>
     <td>
      <%= link_to game_path(game.id) do %>
      <% end %>
      </td>
       <td>ゲームタイトル：<%= game.title %></td>
       <td>感想：<%= game.body %></td>
       <td>ユーザーネーム : <%= game.user.name %></td>
        <%= render "favorites/favorite", game: game %>
       </tr>
       <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>